body {
	font-family: sans-serif;
	margin: 0;
}

.canvas-wrapper {
	background-color: #161618;
	border: .625rem solid #161618;
	border-radius: 0.5vmin;
	box-shadow: 0 0 4vmin 1vmin #161618;
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Ccircle cx='8' cy='8' r='4' fill='%23525053'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.game-header {
	display: flex;
	justify-content: space-between;
	padding-top: 1vmin;
	padding-bottom: 1vmin;
}

.game-score {
	align-items: center;
	background: #121214;
	border-radius: 0.5vmin;
	display: flex;
	height: 3vmin;
	justify-content: center;
	min-width: 8vmin;
	padding: 1vmin 1.5vmin;
}

.score-count {
	font-size: 3vmin;
	color: #D21855;
	font-weight: bold;
}

#game {
	align-items: center;
	background: #353336;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

#game-canvas {
	border-radius: 0.5vmin;
	display: block;
}